.header{
    background-color: #14279B;
    .item-menu{
        font-size: 14px;
        font-weight: 700;
        color: white;
        background-color: #3D56B2;
        border-radius: 0.3rem;
        padding-left: 15px;
        padding-right: 15px;
    }
    .item-menu:hover{
        background-color: #06125c;
    }
    .active{
        background-color: #06125c;
    }
    nav{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    a{
        text-decoration: none;
        .logo{
            height: 2.5rem;
            width: 2.5rem;
            align-items: center;
            margin: 0;
            .title{
                font-size: 10px;
                font-weight: bold;
                color: white;
                display: block;
                width: 100px;
                margin-top: -8px;
            }
        }
    }
}