$sizes:  0px, 0.25rem, 0.5rem, 0.75rem, 1rem, 1.25rem, 1.5rem, 1.75rem, 2rem, 2.25rem, 2.5rem;


@for $i from 1 through length($sizes) {
  $size: nth($sizes, $i);
  .p-#{$i}{
    padding: $size;
  };
}