@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #ffffff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

@media (min-width: 576px) {
  .container {
      width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
      width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
      width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1140px;
  }
}


$sizes:  0px, 0.25rem, 0.5rem, 0.75rem, 1rem, 1.25rem, 1.5rem, 1.75rem, 2rem, 2.25rem, 2.5rem;


@for $i from 1 through length($sizes) {
  $size: nth($sizes, $i);
  .p-#{$i}{
    padding: $size;
  };
  .m-#{$i}{
    margin: $size;
  };
  
}

.card-title {
  display: block;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-width: 100%;
  box-sizing: border-box;
  line-height: 1.375;
  word-wrap: break-word;
  word-break: break-word;
  text-overflow: ellipsis;
  text-decoration: none;
  overflow: hidden;
  max-height: 2.8em;
  -webkit-line-clamp: 2;
  font-weight: 800;
  
}