@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
} 

@media (min-width: 576px) {
  .container {
      width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
      width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
      width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1140px;
  }
}


$sizes:  0px, 0.25rem, 0.5rem, 0.75rem, 1rem, 1.25rem, 1.5rem, 1.75rem, 2rem, 2.25rem, 2.5rem;


@for $i from 1 through length($sizes) {
  $size: nth($sizes, $i);
  .p-#{$i}{
    padding: $size;
  };
  .m-#{$i}{
    margin: $size;
  };

  .mt-#{$i}{
    margin-top: $size;
  };

  .ml-#{$i}{
    margin-left: $size;
  };

  .mr-#{$i}{
    margin-right: $size;
  };

  
}

.card-title {
  display: block;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-width: 100%;
  box-sizing: border-box;
  line-height: 1.375;
  word-wrap: break-word;
  word-break: break-word;
  text-overflow: ellipsis;
  text-decoration: none;
  overflow: hidden;
  max-height: 2.8em;
  -webkit-line-clamp: 2;
  font-weight: 800;  
}

.btn{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 6px 1em;
  font-size: 12px;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;
  font-weight: 700;
}

.btn-mini {
  outline: none;
  border: 1px solid #d9d9d9;
}

.btn-buy{
    background-color: #cc4b00;
    color: #fff;
    border: 1px solid #c60;
}

.btn-default{
  background-color: #242424;
  color: #fff;
  border: 1px solid rgb(34, 34, 34);
}

.btn-tertiary{
  border-color: #a9a9a9;
  background: #e6e6e6;
}

.btn-danger{
  background-color: rgba(255, 0, 0, 0.822);
  color: #fff;
  border: 1px solid rgb(34, 34, 34);
}

.display-flex {
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
}